.idea
.snakemake
*.snakemake_timestamp
__pycache__/

logs/**
!logs/**/
!logs/**/.gitkeep

data/raw/**
!data/raw/**/
!data/raw/**/.gitkeep

data/processed/**
!data/processed/**/
!data/processed/**/.gitkeep

data/CREP/**
!data/CREP/**/
!data/CREP/**/.gitkeep